<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              CADASTRO DE PLANO
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="background:#4d5668; color: #fff;">
              CADASTRO DE PLANO
            </div>
            <div class="card-block" style="padding:15px;">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>DESCRIÇÃO: </label>
                    <input type="text" class="form-control" placeholder="Digite a descrição do plano" ng-model="plano.descricao">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorDescricao" ng-bind-html="errorDescricao"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>RENTABILIDADE (MESES): </label>
                    <input type="text" class="form-control" placeholder="Digite quantos meses terá a rentabilidade" ng-model="plano.meses_rentabilidade">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorMesesRentabilidade" ng-bind-html="errorMesesRentabilidade"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>VALOR PLANO (U$):  </label>
                    <input type="text" class="form-control" placeholder="Digite o valor" ng-model="plano.valor_plano">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorValor" ng-bind-html="errorValor"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>DIÁRIO (%): </label>
                    <input type="text" class="form-control" placeholder="Digite a porcentagem ganho diário" ng-model="plano.porcentagem_diario">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorPorcentagemDiario" ng-bind-html="errorPorcentagemDiario"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>TOTAL (%): </label>
                    <input type="text" class="form-control" placeholder="Digite a porcentagem total de ganho" ng-model="plano.porcentagem_total">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorPorcentagemTotal" ng-bind-html="errorPorcentagemTotal"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>NIVEIS INDICAÇÃO:  </label>
                    <input type="text" class="form-control" placeholder="Digite a quantidade de níveis de indicação" ng-model="plano.nivel_indicacao">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorNivelIndicacao" ng-bind-html="errorNivelIndicacao"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>TAXA SAQUE (%): </label>
                    <input type="text" class="form-control" placeholder="Digite a taxa de saque" ng-model="plano.taxa_saque">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorTaxaSaque" ng-bind-html="errorTaxaSaque"></span>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" ng-click="cadastrarPlano()">CADASTRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-center" id="modal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Successo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h3 style="font-size:30px; color: #575757;">Sucesso!</h3>
        <h3 style="font-size:20px; color: #575757;" ng-show="mensagemSucesso" ng-bind-html="mensagemSucesso"></h3>
      </div>
    </div>
  </div>
</div>
