<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              DADOS DE PRODUTO
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="background:#4d5668; color: #fff;">
              DADOS DE PRODUTO
            </div>
            <div class="card-block" style="padding:15px;">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>CODIGO: </label>
                    <p><b>{{dadosproduto.codigo}}</b> </p>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group" >
                    <label>DESCRIÇÃO: </label>
                    <input type="text" class="form-control" placeholder="Digite a descrição do produto" ng-model="dadosproduto.descricao">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorDescricaoProduto" ng-bind-html="errorDescricaoProduto"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>VALOR ($):  </label>
                    <input type="text" class="form-control" placeholder="Digite o valor" ng-model="dadosproduto.valor">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorValorProduto" ng-bind-html="errorValorProduto"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <label>QUANTIDADE:  </label>
                    <input type="text" class="form-control" placeholder="Digite a quantidade disponível" ng-model="dadosproduto.quantidade_disponivel">
                    <span class="text-validacao-error text-danger animated fadeIn" ng-show="errorQuantidadeDisponivel" ng-bind-html="errorQuantidadeDisponivel"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" >
                    <img class="img-responsive" width="200px;" ng-src="./assets/images/img_produto/{{dadosproduto.imagem_produto}}" alt="">
                  </div>
                </div>

                <div class="col-md-12">
                   <div class="row" ng-controller="uploadCtrl">
                     <div class="col-md-12" style="margin-top:5px;">
                       <input type="file" style="border:0px;" class="btn btn-primary btn-sm btn-block" file-input="files"/>
                     </div>
                     <div class="col-md-12" style="margin-top:10px; ">
                       <span class="text-secondary" style="font-size:12px; font-weight:bold;" ng-bind-html="errorImagemProduto"></span>
                     </div>
                     <div class="col-md-12" style="margin-bottom:10px;">
                       <button ng-click="carregarImgProduto(dadosproduto.id)" class="btn btn-primary btn-sm">Enviar Imagem Produto</button>
                     </div>
                   </div>
                 </div>

              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" ng-click="atualizarProduto()">ATUALIZAR PRODUTO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-center" id="modal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Successo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h3 style="font-size:30px; color: #575757;">Sucesso!</h3>
        <h3 style="font-size:20px; color: #575757;" ng-show="mensagemSucesso" ng-bind-html="mensagemSucesso"></h3>
      </div>
    </div>
  </div>
</div>
