<div class="navbar-custom"  ng-controller="homeCtrl">
  <ul class="list-unstyled topnav-menu float-right mb-0">

    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
        <i class="icon-options"></i>
        <span class="badge badge-info noti-icon-badge"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-lg">
        <!-- <div class="slimscroll noti-scroll">
          <a href="#/" class="dropdown-item notify-item">
            <span>HOME</span>
          </a>
          <a href="#/usuarios" class="dropdown-item notify-item">
            <span>USUARIOS</span>
          </a>
          <a href="#/pagamento" class="dropdown-item notify-item">
            <span>PAGAMENTO</span>
          </a>
          <a href="#/planos" class="dropdown-item notify-item">
            <span>PLANOS</span>
          </a>
          <a href="#/venda-robo" class="dropdown-item notify-item">
            <span>VENDAS</span>
          </a>
          <a href="#/saques" class="dropdown-item notify-item">
            <span>SAQUES</span>
          </a>
        </div> -->
      </div>
    </li>

    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
        <i class="dripicons-bell noti-icon"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-lg">

        <div class="dropdown-item noti-title">
          <h5 class="m-0">
            <span class="float-right">
              <a class="text-dark">
              </a>
            </span>Notificações
          </h5>
        </div>
      </div>
    </li>

    <li class="dropdown notification-list" ng-init="listarUsuario()">
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="assets/images/users/avatar-4.jpg" alt="user-image" class="rounded-circle" >
        <span class="pro-user-name ml-1" >
          <b>{{usuario.nome}}</b><i class="mdi mdi-chevron-down"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <div class="dropdown-item noti-title">
          <h6 class="m-0">
            Bem vindo ! {{usuario.nome}}
          </h6>
        </div>
        <a href="#/conta" class="dropdown-item notify-item">
          <i class="dripicons-user"></i>
          <span>Minha conta</span>
        </a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" ng-click="logout()" class="dropdown-item notify-item">
          <i class="dripicons-power"></i>
          <span>Sair</span>
        </a>
      </div>
    </li>

</ul>
<ul class="list-unstyled menu-left mb-0">
  <li class="float-left">
    <a class="logo">
      <span class="logo-lg">
        <img src="assets/images/logotipo.png" alt="" height="50">
      </span>
      <span class="logo-sm">
        <img src="assets/images/logotipo.png" alt="" height="24">
      </span>
    </a>
  </li>

</ul>
</div>
