<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              FATURA
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h3 class="text-white">FATURA</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-gradient" style="text-align:center; font-size:20px; background: #161E43; color: #fff;">
                {{planocomprado.descricao}}
              </div>
              <div class="card-block" style="padding:10px; text-align:left;">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Usuário: {{planocomprado.nome}}</li>
                    <li class="list-group-item">Email: {{planocomprado.email}}</li>
                    <li class="list-group-item">Valor: {{planocomprado.valor_plano}}</li>
                    <li class="list-group-item">Descrição Plano: {{planocomprado.descricao}}</li>
                    <li class="list-group-item">HASH:<span style="font-size: 15px;" class="badge badge-success" ng-if="planocomprado.hash.length > 0"> {{planocomprado.hash}}</span></li>
                    <li class="list-group-item" ng-if="planocomprado.status == 'PENDENTE'">PENDENTE</li>
                    <li class="list-group-item" ng-if="planocomprado.status == 'PAGO'">PAGO</li>
                    <li class="list-group-item">Data: {{planocomprado.data_compra}}</li>
                  </ul>

                </div>
              </div>
              <div class="card-footer text-muted">
                <button class="btn btn-primary" name="button" ng-click="aprovarCompra()" ng-if="planocomprado.status == 'PENDENTE'">APROVAR COMPRA</button>
                <span class="badge badge-success" ng-if="planocomprado.status == 'PAGO'"> FATURA PAGA</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-center" id="modal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Sucesso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h3 style="font-size:30px; color: #575757;">Sucesso!</h3>
        <h3 style="font-size:20px; color: #575757;" ng-show="mensagemSucesso" ng-bind-html="mensagemSucesso"></h3>
      </div>
    </div>
  </div>
</div>
