<div class="slimscroll-menu">
  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
      <li class="menu-title">Navegação</li>
      <li>
        <a ng-href="#/" class="active">
          <i class="dripicons-meter icon-color"></i>
          <span> Home </span>
        </a>
      </li>
      <li>
        <a ng-href="#/usuarios">
          <i class="icon-user icon-color"></i>
          <span> Usuarios </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <li>
        <a ng-href="#/cron">
          <i class=" icon-loop icon-color"></i>
          <span> Cron </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <li>
        <a ng-href="#/planos">
          <i class=" icon-layers icon-color"></i>
          <span> Planos </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <li>
        <a ng-href="#/planos-comprados">
          <i class="icon-equalizer icon-color"></i>
          <span> Planos Comprados </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <li>
        <a ng-href="#/saques">
          <i class=" icon-wallet icon-color"></i>
          <span> Saques </span>
          <span class="menu-arrow"></span>
        </a>
      </li>

      <li>
        <a ng-href="#/loja">
          <i class="fas fa-shopping-basket"></i>
          <span> Loja </span>
          <span class="menu-arrow"></span>
        </a>
      </li>

      <!-- <li>
        <a ng-href="#/notificacoes">
          <i class="dripicons-bell noti-icon"></i>
          <span> Notificações </span>
          <span class="menu-arrow"></span>
        </a>
      </li> -->
      <!-- <li>
        <a ng-href="#/indicacoes">
          <i class=" icon-user icon-color"></i>
          <span> Indicações </span>
          <span class="menu-arrow"></span>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
