
<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">

                <!-- <a target="_blank" ng-href="http://localhost/RoboCryptoTrader/app/cadastro/#/{{usuario.id}}">http://localhost/RoboCryptoTrader/app/cadastro/{{usuario.id}}</a> -->
                <!-- <a target="_blank" ng-href="http://wp2.ntxme.com/app/cadastro/#/{{usuario.id}}">http://wp2.ntxme.com/app/cadastro/#/{{usuario.id}}</a> -->

                <!-- <li style="margin-right:20px;"><a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('pt|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a></li> -->
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              DASHBOARD
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-9" style="padding:20px;">
                    <p style="color:#fff;">RENDIMENTO</p>
                      <h2 class="mt-3 text-mobile-card" style="color: #FFF; font-size:27px; "><t>$ 0.00</t></h2>
                      <div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 1%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                  </div>
                  <!-- <div class="col-md-3" style="background: #5B92FF; padding:20px; border-radius:0px 5px 5px 0px ;">
                    <i style="font-size:30px; color: #fff; margin-top:35px; margin-left:10px;" class="fas fa-funnel-dollar"></i>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-9" style="padding:20px;">
                    <p style="color:#fff;">INDICAÇÃO</p>
                    <h2 class="mt-3 text-mobile-card" style="color: #FFF; font-size:27px; "><t>$ 0.00</t></h2>
                  </div>
                  <!-- <div class="col-md-3" style="background: #5B92FF; padding:20px; border-radius:0px 5px 5px 0px ;">
                    <i style="font-size:35px; color: #fff; margin-top:30px; margin-left:20px;" class="fas fa-user"></i>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;">
                <div class="row">
                  <div class="col-md-9" style="padding:20px;">
                    <p style="color:#fff;">PLANO</p>
                    <h2 class="mt-3 text-mobile-card" style="color: #FFF; font-size:27px; "><t>$ {{usuario.plano_valor}}</t></h2>
                  </div>
                  <!-- <div class="col-md-3 " style="background: #5B92FF; padding:20px; border-radius:0px 5px 5px 0px ;">
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <p style="color:#fff;">INDICAÇÕES</p>
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-12" style="padding:20px;">
                    <div style="text-align:left;">
                      <p style="color:#fff;">Nenhuma Indicação no momento</p>
                      <i style="font-size:30px; color:#fff;" class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <p style="color:#fff;">BLACKTV</p>
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-12" style="padding:20px;">
                    <div style="text-align:left;">
                      <p style="color:#fff;">Você não tem permissão para acessar a BLACKTV</p>
                      <i style="font-size:30px; color:#fff;" class="fas fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <p style="color:#fff;">LOJA TWO WORLD</p>
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:0;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-12" style="padding:20px;">
                    <div style="text-align:left;">
                      <i class=""></i>
                      <p style="color:#fff;">Nenhum produto cadastrado na loja de produtos da Two World</p>
                      <i style="font-size:30px; color:#fff;" class="fas fa-shopping-basket"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
