
<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">

                <!-- <a target="_blank" ng-href="http://localhost/RoboCryptoTrader/app/cadastro/#/{{usuario.id}}">http://localhost/RoboCryptoTrader/app/cadastro/{{usuario.id}}</a> -->
                <!-- <a target="_blank" ng-href="http://wp2.ntxme.com/app/cadastro/#/{{usuario.id}}">http://wp2.ntxme.com/app/cadastro/#/{{usuario.id}}</a> -->

                <!-- <li style="margin-right:20px;"><a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('pt|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a></li> -->
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              DASHBOARD
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="pull-right"style="color:#fff; font-size:20px; margin-bottom:20px; margin-top:-10px;">Bem vindo ao seu backoffice, João.</h3>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:20px; height:130px;" ng-init="listarPagamentosDisponivel()">
                <div class="row">
                  <div class="col-md-12">
                    <p style="color:#fff;">RENDIMENTO</p>
                    <h2 class="text-mobile-card" style="color: #FFF; font-size:20px; "><t>$ 0.00
                      <b class="pull-right" style="color:#fff; font-size:20px;">0 de 200%</b></t></h2>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card-box widget-chart-one" style="background: #f7931b; padding:20px;  height:130px;" ng-init="listarValorBitcoin()">
                  <div class="row">
                    <div class="col-md-9">
                      <p style="color:#fff;">BITCOIN</p>
                      <h2 class="text-mobile-card" style="color: #FFF; font-size:25px; "><t>{{bitcoin.USD | currency}}</t></h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card-box widget-chart-one" style="background: #2d3d88; padding:20px;">
                  <div class="row">
                    <div class="col-md-6" >
                      <p style="color:#fff;">STORE - CARRINHO</p>
                      <h2 class="text-mobile-card" style="color: #FFF; font-size:15px;">Você possui (0) Itens em seu carrinho.</h2>
                    </div>
                    <div class="col-md-6" >
                      <!-- <i style="color: #161E43; font-size:30px;" class="fas fa-cart-arrow-down"></i> -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <a ng-href="#/blacktv">
                  <div class="card-box widget-chart-one" style="background-image: url('https://www.bernardmarr.com/img/blog/Bitcoin,%20Blockchain%20Splits%20And%20What%20It%20Means%20For%20Business.jpeg'); background-size: cover; padding:20px;">
                    <div class="row">
                      <div class="col-md-12">
                        <p style="color:#fff;">BLACKTV</p>
                        <h2 class="text-mobile-card" style="color: #FFF; font-size:15px;">
                          <i style="font-size:30px;"class="fas fa-play-circle pull-right"></i>
                          Você poderá assistir os episódios sobre empreendorismo, bitcoin e mercado financeiro.</h2>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>


            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="card-box widget-chart-one" style="background: #2d3d88; padding:20px;">
                    <div class="row">
                      <div class="col-md-12">
                        <p style="color:#fff;">AVISO</p>
                        <h2 class="text-mobile-card" style="color: #FFF; font-size:20px; ">Você não possui nenhum plano ativo, compre um agora e comece ter seus ganhos diários!</h2>
                        <a ng-href="#/planos" class="btn btn-success btn-sm"name="button">CONHEÇA OS PLANOS</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-box widget-chart-one" style="background: #2d3d88; padding:10px;">
                    <p style="color:#fff;">STORE <t class="pull-right">Produtos Exclusivos!</t></p>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="card-box widget-chart-one" style="background: #161E43; padding:20px;">
                          <div class="media">
                            <img class="d-flex mr-3" width="64px" src="https://img.elo7.com.br/product/zoom/1C1DC40/caneca-personalizada-bitcoin-com-qr-code-de-sua-conta-caneca-moeda-digital.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0" style="color: #fff;">Cod. #58</h5>
                              <b style="color: #f2f2f2;">Caneca Bitcoin</b>
                            </div>
                            <b class="text-danger"style="color: #f2f2f2;">Esgotado!</b>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card-box widget-chart-one" style="background: #161E43; padding:20px;">
                          <div class="media">
                            <img class="d-flex mr-3" width="64px" src="https://img.elo7.com.br/product/zoom/1C1DC40/caneca-personalizada-bitcoin-com-qr-code-de-sua-conta-caneca-moeda-digital.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0" style="color: #fff;">Cod. #58</h5>
                              <b style="color: #f2f2f2;">Caneca Bitcoin</b>
                            </div>
                            <b class="text-danger"style="color: #f2f2f2;">Esgotado!</b>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card-box widget-chart-one" style="background: #161E43; padding:20px;">
                          <div class="media">
                            <img class="d-flex mr-3" width="64px" src="https://img.elo7.com.br/product/zoom/1C1DC40/caneca-personalizada-bitcoin-com-qr-code-de-sua-conta-caneca-moeda-digital.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0" style="color: #fff;">Cod. #58</h5>
                              <b style="color: #f2f2f2;">Caneca Bitcoin</b>
                            </div>
                            <b class="text-danger"style="color: #f2f2f2;">Esgotado!</b>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card-box widget-chart-one" style="background: #161E43; padding:20px;">
                          <div class="media">
                            <img class="d-flex mr-3" width="64px" src="https://img.elo7.com.br/product/zoom/1C1DC40/caneca-personalizada-bitcoin-com-qr-code-de-sua-conta-caneca-moeda-digital.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0" style="color: #fff;">Cod. #58</h5>
                              <b style="color: #f2f2f2;">Caneca Bitcoin</b>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm mt-1" name="button" disabled>Adicionar ao Carrinho</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-box widget-chart-one" style="background: #2d3d88; padding:20px;">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class=" text-mobile-card" style="color: #FFF; font-size:15px;">Indique para sua network e potencialize seus ganhos!</h2>
                    <!-- <a target="_blank" ng-href="http://localhost/2world/cadastro/#/{{usuario.id}}">http://localhost/2world/cadastro/{{usuario.id}}</a> -->
                    <a target="_blank" ng-href="http://app.2world.online/cadastro/#/{{usuario.id}}">http://app.2world.online/cadastro/#/{{usuario.id}}</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
