<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li style="margin-right:20px;"><a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('pt|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a></li>
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              MEUS INDICADOS
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="background:#161E43; color: #fff;">
            MEUS INDICADOS
          </div>

          <div class="card-block" style="padding:15px;">
            <div class="row" ng-init="listarMeusIndicados()">
              <div class="col-md-2" ng-repeat="i in indicados">
                <div class="card-box widget-chart-one"  style="background: #2d3d88; padding:20px; text-align:center;" >
                  <div class="col-md-12" >
                    <i style="color: #fff; font-size:20px;"class="fas fa-user"></i>
                    <h3 style="color: #fff;">{{i.nome | uppercase}}</h3>
                    <p style="color: #fff;">{{i.email}}</p>
                    <p style="color: #fff;">{{i.data_indicacao}}</p>
                    <p style="color: #fff;">{{i.status}} </p>
                    <p style="color: #fff;">Nivel de Indicação: <span class="badge badge-info">{{i.nivel_indicacao}}</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h3 ng-if="indicados.length <= 0">Você não fez nenhuma indicação!</h3>
              </div>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-center" id="modal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Successo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h3 style="font-size:30px; color: #575757;">Sucesso!</h3>
        <h3 style="font-size:20px; color: #575757;" ng-show="mensagemSucesso" ng-bind-html="mensagemSucesso"></h3>
      </div>
    </div>
  </div>
</div>
