<div ng-controller="particlesCtrl">
  <div particles-drv ng-show="showParticles">

  </div>
</div>

<div class="authentication-bg authentication-bg-pattern d-flex align-items-center">
  <!-- <div class="home-btn d-none d-sm-block">
    <li style="margin-right:20px; list-style-type:none;"><a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('pt|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a></li>
  </div> -->

  <div class="account-pages w-100 mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card card-black card-login" >
            <div class="card-body p-4 background-logo" >
              <div class="text-center">
                <span><img src="assets/images/nova_logo.png" alt="" height="120"></span>
              </div>
              <form name="form" class="pt-2">
                <div class="form-group mb-3">
                  <label class="form-login">Email</label>
                  <input class="form-control" type="email" id="emailaddress" required="" placeholder="Digite seu Email" required ng-model="user.email">
                </div>

                <!-- CRIAR 'ESQUECEU SUA SENHA' AQUI -->

                <div class="form-group mb-3">
                  <!-- <a class="text-muted float-right"><small>Esqueceu a senha?</small></a> -->
                  <label class="form-login">Senha</label>
                  <input class="form-control" type="password" required="" id="password" placeholder="Digite sua senha" required ng-model="user.senha">
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                  <label class="custom-control-label" class="form-login">Lembrar de mim</label>
                </div>

                <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary btn-block"  ng-disabled="form.$invalid" ng-click="login(user)"> {{btnLogin}} </button>
                </div>
              </form>

            </div>
          </div>
          <span style="text-align:center !important; font-size:15px; font-weight: 500;" class="text-danger">{{msgtxt}}</span>
        </br>
          <span style="text-align:center !important; font-size:13px; font-weight: 100; color: #fff;" >Versão Beta 2.0</span>
        </div>
      </div>
    </div>
  </div>

</div>
