<div class="navbar-custom"  ng-controller="homeCtrl">
  <ul class="list-unstyled topnav-menu float-right mb-0">

<li class="dropdown notification-list">
  <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
    <i class="icon-options"></i>
    <span class="badge badge-info noti-icon-badge"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right dropdown-lg">

    <div class="slimscroll noti-scroll">
      <a href="#/" class="dropdown-item notify-item">
        <span>HOME</span>
      </a>
      <a href="#/conta" class="dropdown-item notify-item">
        <span>MINHA CONTA</span>
      </a>
      <a href="#/saques" class="dropdown-item notify-item">
        <span>SAQUES</span>
      </a>

      <a href="#/planos" class="dropdown-item notify-item">
        <span>PLANOS</span>
      </a>

      <a href="#/transferir-saldo" class="dropdown-item notify-item">
        <span>TRANSFERIR SALDO</span>
      </a>

      <a href="#/blacktv" class="dropdown-item notify-item">
        <span>BLACKTV</span>
      </a>

      <a href="#/indicados" class="dropdown-item notify-item">
        <span>INDICADOS</span>
      </a>
    </div>
  </div>
</li>

<li class="dropdown notification-list">
  <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
    <i class="dripicons-bell noti-icon"></i>
    <span class="badge badge-info noti-icon-badge">{{contarnotificacoes.length}}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right dropdown-lg" style="padding:10px;">

    <div class="dropdown-item noti-title">
      <h5 class="m-0">
        <span class="float-right">
          <a class="text-dark">
          </a>
        </span>Notificações
      </h5>
    </div>

    <div class="slimscroll noti-scroll">
      <a class="dropdown-item notify-item active" ng-repeat="nt in notificacoes | filter: { status_notificacao: 'NAO_LIDO'}" ng-href="#/notificacao/{{nt.id}}">
        <div class="notify-icon bg-primary">
        <i class="fas fa-comments"></i> </div>
          <p class="notify-details" >
            {{nt.titulo}}
          </p>
        </a>
      </div>
      <p ng-if="contarnotificacoes.length <= 0" class="text-danger" style="text-align:center;">Não possui nenhuma notificação</p>
      <a ng-href="#/notificacoes" class="dropdown-item text-center text-primary notify-item notify-all">
        Ver Notificações
        <i class="fi-arrow-right"></i>
      </a>
      <button ng-if="contarnotificacoes.length > 0" ng-click="marcarTodosComoLido()" class="btn btn-primary btn-sm btn-block" name="button">Marcar todos como lido</button>
    </div>
  </li>

  <li class="dropdown notification-list" ng-init="listarUsuario()">
    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
      <img src="assets/images/users/avatar-4.jpg" alt="user-image" class="rounded-circle" >
      <span class="pro-user-name ml-1" >
        <b>{{usuario.nome | uppercase}}</b><i class="mdi mdi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
      <div class="dropdown-item noti-title">
        <h6 class="m-0">
          Bem vindo ! {{usuario.nome}}
        </h6>
      </div>
      <a href="#/conta" class="dropdown-item notify-item">
        <i class="dripicons-user"></i>
        <span>Minha conta</span>
      </a>
      <div class="dropdown-divider"></div>
      <a style="cursor: pointer;" ng-click="logout()" class="dropdown-item notify-item">
        <i class="dripicons-power"></i>
        <span>Sair</span>
      </a>
    </div>
  </li>
</ul>
<ul class="list-unstyled menu-left mb-0">
  <li class="float-left">
    <a class="logo">

      <span class="logo-lg">
        <img src="assets/images/nova_logo.png" alt="" height="50">
      </span>
      <span class="logo-sm">
        <img src="assets/images/nova_logo.png" alt="" height="24">
      </span>
    </a>
  </li>
</ul>
</div>
