<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              NOTIFICAÇÕES
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="background:#4d5668; color: #fff;">
            NOTIFICAÇÕES
          </div>
          <div class="card-block" style="padding:15px;">
            <div class="row">
              <div class="col-md-12">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item">
                    <p><b>DATA:</b> {{dadosnotificacao.data_notificacao}}</p>
                    <p><b>TITULO:</b> {{dadosnotificacao.titulo}}</p>
                    <p><b>MENSAGEM:</b> {{dadosnotificacao.mensagem}}</p>
                    <p ng-if="dadosnotificacao.status_notificacao == 'NAO_LIDO'"><b>STATUS:</b> <span class="badge badge-warning">NÃO LIDO</span></p>
                    <p ng-if="dadosnotificacao.status_notificacao == 'LIDO'"><b>STATUS:</b> <span class="badge badge-success">LIDO</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
