<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              RENDIMENTOS
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class=" card-box card-box-table">
          <div class="card">
            <div class="card-header" style="background:#161E43; color: #fff;">
              RELATORIO
            </div>
            <div class="table-responsive">
              <table class="table table-dark mb-0" ng-init="listarMeusRendimentos()">
                <thead>
                  <tr>
                    <th class="visible-xs-down">ID</th>
                    <th>VALOR RENDIMENTO</th>
                    <th>STATUS</th>
                    <th>DATA RENDIMENTO</th>
                  </tr>
                </thead>
                <tbody style="color: #FFF;" dir-paginate="r in rendimentos | itemsPerPage: 10">
                  <tr >
                    <td ng-bind-html="r.id"></td>
                    <td ng-bind-html="r.valor_rendimento"></td>
                    <td ng-if="r.status == 'PAGO'"><span class="badge badge-success">PAGO</span></td>
                    <td ng-bind-html="r.data_rendimento"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="text-align:center;">
            <span class="text-info" ng-if="rendimentos.length <= 0"> Não foi encontrado nenhum registro.</span>
          </div>
          <div>
            <span class="text-default" ng-if="rendimentos.length > 0"> Total de registros: <b>{{rendimentos.length}}</b></span>
          </div>
          <div >
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="view/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
