<div class="content-page">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li style="margin-right:20px;"><a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('pt|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a></li>
                <li class="breadcrumb-item"><a ><span class="badge badge-success"> USUÁRIO ATIVO</span></a></li>
              </ol>
            </div>
            <h4 class="page-title">
              APLICAÇÕES CHECKOUT
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h3 class="text-white">APLICAÇÕES</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-gradient" style="text-align:center; font-size:20px;">
                <img ng-src="./assets/images/acoes/{{robocheckout.imagem_acao}}" style="height: 150px;" >
              </div>
              <div class="card-block" style="padding:10px; text-align:left;">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Valor: $ {{robocheckout.valor}}</li>
                    <li class="list-group-item" ng-if="robocheckout.status == 'PENDENTE'">Status de pagamento: <b class="text-danger">{{robocheckout.status}}</b></li>
                    <li class="list-group-item" ng-if="robocheckout.status == 'PAGO'">Status de pagamento: <b class="text-success">{{robocheckout.status}}</b></li>
                    <li class="list-group-item">Data: {{robocheckout.data_compra}}</li>
                    <li class="list-group-item">Diário: {{robocheckout.porcentagem_ganho}}%</li>
                    <li class="list-group-item" ng-if="robocheckout.status == 'PENDENTE'">
                      <h3 style="font-size: 16px;">CONTAS PARA PAGAMENTO</h3>
                      <div class="row">
                        <div class="col-md-4">
                          <img src="./assets/images/urpay.png" style="width:100px;">
                        </div>
                        <div class="col-md-8">
                          <p style="font-size:18px; font-weight:bold;">@jadielsouza</p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item" ng-if="robocheckout.status == 'PENDENTE'">
                      <div class="row">
                        <div class="col-md-4">
                          <img src="./assets/images/bitcoin-logo.svg" style="width:100px;">
                        </div>
                        <div class="col-md-8">
                          <img src="./assets/images/qrcode.png" alt="" style="width:100px;">
                          <p>16WGzsQxKVkDDr6PeaiyD7agyAyeGsWevm</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="row" ng-controller="uploadCtrl" ng-if="robocheckout.status == 'PENDENTE'">
                  <div class="col-md-12" style="margin-top:5px;">
                    <input type="file" style="border:0px;" class="btn btn-primary btn-sm btn-block" file-input="files"/>
                  </div>
                  <div class="col-md-12" style="margin-top:10px; margin-bottom:10px;">
                    <span class="text-secondary" style="font-size:12px; font-weight:bold;" ng-bind-html="errorComprovante"></span>
                  </div>
                  <div class="col-md-12" style="margin-top:10px; margin-bottom:10px;">
                    <button ng-click="carregarImgComprovante(r.id)" class="btn btn-primary">Enviar Comprovante</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-center" id="modal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Successo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h3 style="font-size:30px; color: #575757;">Sucesso!</h3>
        <h3 style="font-size:20px; color: #575757;" ng-show="messagemSuccesso" ng-bind-html="messagemSuccesso"></h3>
      </div>
    </div>
  </div>
</div>
