<div class="slimscroll-menu">
  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
      <li class="menu-title">Navegação</li>
      <li>
        <a ng-href="#/" class="active">
          <i class="dripicons-meter icon-color icon-sidebar"></i>
          <span style="font-size:14px;"> Home </span>
        </a>
      </li>
      <li>
        <a ng-href="#/saques">
          <i class="icon-wallet icon-color icon-sidebar"></i>
          <span style="font-size:14px;"> Saques </span>
        </a>
      </li>

      <li>
        <a ng-href="#/planos">
          <i class="icon-menu icon-color icon-sidebar"></i>
          <span style="font-size:14px;"> Planos </span>
        </a>
      </li>

      <li>
        <a ng-href="#/relatorio">
          <i class="icon-notebook icon-color icon-sidebar"></i>
          <span style="font-size:14px;"> Relatório </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <li>
        <a  ng-href="#/suporte">
          <i class="icon-question icon-color icon-sidebar"></i>
          <span class="badge badge-danger float-right">6</span>
          <span style="font-size:14px;"> Suporte </span>
        </a>

      </li>
      <li>
        <a ng-href="#/conta">
          <i class="icon-user icon-color icon-sidebar"></i>
          <span style="font-size:14px;"> Minha conta </span>
          <span class="menu-arrow"></span>
        </a>
      </li>
      <!-- <li>
        <a ng-href="#/mercado-acoes">
          <button type="button" class="btn btn-primary btn-sm" name="button"><i style="color: #fff;"class="icon-energy icon-color"></i> UPGRADE</button>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
